net clk clock_dedicated_route= false;
net clk loc= r12;
net dato loc= p11;
net rst loc= h13;
net leds<0> loc= j14;
net leds<1> loc= j15;
net leds<2> loc= k15;
net leds<3> loc= k14;
net leds<4> loc= e17;
net leds<5> loc= p15;
net leds<6> loc= f4;
net leds<7> loc= r4;
