net clk2 clock_dedicated_route= false;
net clk2 loc=r12;
net clk loc=b8;
net rst loc=b18;
net display<6> loc=l18;
net display<5> loc=f18;
net display<4> loc=d17;
net display<3> loc=d16;
net display<2> loc=g14;
net display<1> loc=j17;
net display<0> loc=h14;
net an<0> loc=f17;
net an<1> loc=h17;
net an<2> loc=c18;
net an<3> loc=f15;
net dato loc=p11;
net leds<0> loc=j14;
net leds<1> loc=j15;
net leds<2> loc=k15;
net leds<3> loc=k14;
net leds<4> loc=e17;
net leds<5> loc=p15;
net leds<6> loc=f4;
net leds<7> loc=r4;